table,
th,
td {
  border: 2px solid rgb(8, 8, 8);
}
table tr th{
  background-color:rgb(103, 192, 125);
  
}
header{
  outline-style: groove;
  outline-color: black;
  outline-width: 10px;
}
div{
  display: inline-block;
  position: relative;
  left: 20px;
  padding: 30px;
  
  
}
main{
  padding: 100px;
}
h3{
  padding: 50px;
  font-size: large;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
 
}
h1{
  padding: 50px;
  font-size: 30px;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

img{
  outline-style:groove;
  outline-color: black;
  outline-width: 3px;
}
li{
  padding: 50px;
  outline-style:groove;
  outline-color: black;
  outline-width: 10px;
}
footer{
  outline-style:groove;
  outline-color: black;
  outline-width: 10px;
}
body{
  background-color: rgb(196, 217, 255);
}

